.movie-container {
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    transition: transform 0.5s ease-in-out;
    overflow-x: hidden;
}

.movie-wrapper {
    display: flex;
    flex-direction: row;
}

.movie-card {
    flex: 0 0 auto;
    margin-right: 20px;
    max-width: 300px;
    transition: transform 0.5s ease-in-out;
}

.movie-card:last-child {
    margin-right: 0;
}

.movie-card a {
    text-decoration: none;
    color: inherit;
}

.movie-details {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.title {
    font-size: 18px;
    margin-bottom: 5px;
}

.date {
    font-size: 14px;
    color: #ffffff;
}

.quality {
    background-color: #ffcc00;
    color: #000000;
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 5px;
}

.duration,
.rating {
    margin-left: 10px;
    color: #ffffff;
}

.slider-buttons {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjusted right spacing */
    transform: translateY(-50%);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
}

.slider-buttons button {
    margin: 5px; /* Adjusted margin */
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition: background-color 0.3s ease;
    display: flex; /* Align icon and button text */
    align-items: center;
    justify-content: center;
}

.slider-buttons button i {
    margin: 0;
}

.slider-buttons button:hover {
    background-color: #0056b3;
}

.movie-card {
    transition: transform 0.3s ease;
    margin-right: 30px !important;
}

.movie-card:hover {
    transform: scale(1.05);
}

.gradient-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px; /* Adjust width as needed */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

.gradient-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20px; /* Adjust width as needed */
  background: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}



    